* {
  padding: 0;
  margin: 0;
  outline: none;
}

.nav-bar {
  position: relative;
}

.nav-bar h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 255, 255, 0.507);
  height: 3rem;
  font-family: "Luckiest Guy";
  letter-spacing: 9px;
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

button {
  color: #474747;
  font-size: 18px;
  border: 0;
  border-radius: 35px;
  padding: 15px 35px;
  margin: 30px 0 20px;
  cursor: pointer;
}
.message-box {
  background: aquamarine;
  position: relative;
  width: 300px;
  max-width: 500px;
  max-height: auto;
  color: #333;
  padding: 20px;
  margin: 20px 0;
  border-radius: 35px;
  font-family: "Poppins";
}
.notes-container img {
  width: 25px;
  position: absolute;
  bottom: 10%;
  right: 5%;
  cursor: pointer;
}

/* .notes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh; 
}

.message-box {
  background: aquamarine;
  position: relative;
  width: 300px;
  max-width: 500px;
  height: auto;
  color: #333;
  padding: 20px;
  margin: 5px 0;
  outline: none;
  border-radius: 35px;
  font-family: "Poppins";
  position: relative;
}

.message-box img.delete-icon {
  width: 15px; 
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  transform-origin: center;
  transform: translate(-50%, -50%) scale(0.8); 
} */
